$color-primary: black;
$color-primary-light:  #e7e8d1;
$color-secondaty: blue;
$color-succes: #9bc472;
$color-reject: #f5beb4;

$background: linear-gradient(to left, #fff7ca, #ffe1cb, #e5d0ee, #d4d5e4, #d3e4dc, #ccf2cb);