.totalBalance{
    margin-bottom: 40px;

    &__title{
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-weight: 500;
    }

    &__cash{
        margin-left: 15px;
    }

    &__subTitle{
        font-size: 1.2rem;
        font-weight: 400;
    }
}